@{
    ViewBag.Title = "About";
}

<h1 style="margin-top: 60px">About Us</h1>

<p>The Great Lake Alliance was formed this past January. Our founders wanted to create
    a clean and safe environment for the Great Lakes, so that everyone can enjoy the 
    beauty and fun of this amazing natural series of lakes.</p>
