@{
    ViewBag.Title = "About";
}

<div sstyle="padding-bottom: 30px">
    <h1 style="padding-top: 100px; font-weight: 600" align="center">What is GLA?</h1>

    <p style="padding-top: 10px;
    font-size: medium;
    font-weight: 500" align="center">
        GLA (Great Lakes Alliance) is a non-profit organization that cleans the great lakes.
    </p>
</div>


<div style="width: 100%; height: 10px; background-color: lightgray; margin-top: 60px"></div>

<div style="padding-bottom: 30px">
    <h1 style="margin-top: 60px">Mission</h1>
    <p>
        The Great Lake Alliance was formed this past January. Our founders wanted to create
        a clean and safe environment for the Great Lakes, so that everyone can enjoy the
        beauty and fun of this amazing natural series of lakes.
    </p>
</div>
    

@*<img src="~/Content/GLAVOLUNTEER.jpg" style="height: 10%; width: 30%" />*@
    
<div style="width: 100%; height: 10px; background-color: lightgray; margin-top: 60px"></div>

<div style="padding-bottom: 30px">
    <h1 style="margin-top: 60px">Mission</h1>
    <p>
        The Great Lake Alliance was formed this past January. Our founders wanted to create
        a clean and safe environment for the Great Lakes, so that everyone can enjoy the
        beauty and fun of this amazing natural series of lakes.
    </p>
</div>

<div style="width: 100%; height: 10px; background-color: lightgray; margin-top: 60px"></div>

<div style="padding-bottom: 30px">
    <h1 style="margin-top: 60px">Mission</h1>
    <p>
        The Great Lake Alliance was formed this past January. Our founders wanted to create
        a clean and safe environment for the Great Lakes, so that everyone can enjoy the
        beauty and fun of this amazing natural series of lakes.
    </p>
</div>