
@{
    ViewBag.Title = "Admin";
}

<h2 style="margin-top: 75px">Admin</h2>

<h4>Where would you like to go?</h4>

<div>
    @Html.ActionLink("Roles", "Index", "Roles") |
    @Html.ActionLink("Reports", "Index", "Reports")
</div>

