@{
    ViewBag.Title = "Contact";
}

<h1 style="margin-top: 60px">Contact Us</h1>

<address>
    Twenty Great Lakes Ave<br />
    Great Lakesville 54832-23483<br />
    <abbr title="Phone">P:</abbr>
    608.555.7628
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@GLA.com">Support@GLA.com</a><br />
    <strong>Founder:</strong> <a href="mailto:founder@GLA.com">founder@eGLA.com</a>
</address>