@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url("../../Content/gl1.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>



<div class="jumbotron">
    <h1>GLA</h1>
    <p class="lead">Great Lakes Alliance is a non-profit organization that wants to help clean up the lakes so that it can be enjoyed for years to come by the people and fish alike.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" style="margin-top: 50px">


    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Join Us Today!!!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Blah Blah De Blah De Blah</h2>
        <p>Cailyn sucks</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WHALE WASH</h2>
        <p>GET YOUR WHALES WASHED.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>