@model GreatLakesAlliance.Models.DonorDataModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h1>What would you like to do?</h1>

<div>
    @Html.ActionLink("View Previous Donations", "PrevDonations") |
    @Html.ActionLink("Donate", "Create")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
