
@{
    ViewBag.Title = "AdminDelete";
}

<h2 style="margin-top: 75px">Deleting User Accounts</h2>

<div style="margin-top: 25px">
    First, click 'Admin' on the navigation bar.
</div>
<div>
    **Add img of admin**
</div>
<div style="margin-top: 25px">
    Click the 'Reports' button on the left.
</div>
<div>
    **Add img of reports button**
</div>
<div style="margin-top: 25px">
    The 'Users' button will take you to a list of all users.
</div>
<div>
    **Add img of users button**
</div>
<div style="margin-top: 25px">
    If the user has yet to be deleted, there will be a button named 'Delete' to the right of their name and email address. Click that to delete the user.
</div>
<div>
    **Add img of delete button
</div>

<div class="form-group" style="margin-top: 5%; margin-bottom: 10%">
    <div class=" = col-md-2">
        <input type="button" title="Delete" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("", "Help")'" />
    </div>
</div>
