
@{
    ViewBag.Title = "AdminReports";
}

<h2 style="margin-top: 75px">Viewing Reports</h2>

<div style="margin-top: 25px">
    First, click 'Admin' on the navigation bar.
</div>
<div>
    **Add img of admin**
</div>
<div style="margin-top: 25px">
    Click the 'Reports' button on the left.
</div>
<div>
    **Add img of reports button**
</div>
<div style="margin-top: 25px">
    Click on any report that you want to see.
</div>
<div>
    Add list of reports
</div>

<div class="form-group" style="margin-top: 5%; margin-bottom: 10%">
    <div class=" = col-md-2">
        <input type="button" title="Delete" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("", "Help")'" />
    </div>
</div>
