
@{
    ViewBag.Title = "AdminRoles";
}

<h2 style="margin-top: 75px">Change User Roles</h2>

<div style="margin-top: 25px">
    First, click 'Admin' on the navigation bar.
</div>
<div>
    **Add img of admin**
</div>
<div style="margin-top: 25px">
    Click the 'Roles' button on the left.
</div>
<div>
    **Add img of roles button**
</div>
<div style="margin-top: 25px">
    You can either create a new role or assign a role to a specific user using the two buttons shown below.
</div>
<div>
    **Add img of both buttons in one img**
</div>

<div class="form-group" style="margin-top: 5%; margin-bottom: 10%">
    <div class=" = col-md-2">
        <input type="button" title="Delete" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("", "Help")'" />
    </div>
</div>
