
@{
    ViewBag.Title = "EventDetails";
}

<h2 style="margin-top: 75px">Finding Event Details</h2>


<div style="margin-top: 25px">
    To find event details. You must first click 'Events' on the navigation bar.
</div>
<div>
    <img style="width: 70%" src="~/Content/EventOnNav.jpg" />
</div>
<div style="margin-top: 25px">
    Click 'Details' on the event that you want to view.
</div>
<div>
    **Add img here**
</div>

<div class="form-group" style="margin-top: 5%; margin-bottom: 10%">
    <div class=" = col-md-2">
        <input type="button" title="Delete" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("", "Help")'" />
    </div>
</div>

