
@{
    ViewBag.Title = "EventVolunteer";
}

<h2 style="margin-top: 75px">Volunteering/Unvolunteering To An Event</h2>

<div style="margin-top: 25px">
    First, click 'Events' on the navigation bar.
</div>
<div>
    <img style="width: 70%" src="~/Content/EventOnNav.jpg" />
</div>
<div style="margin-top: 25px">
    Next hit the 'Details' button on the event that you want to volunteer/unvolunteer to.
</div>
<div>
    <img style="width: 70%" src="~/Content/EventDetails.jpg" />
</div>
<div style="margin-top: 25px">
    Then select the 'Sign Up for Event' button at the bottom of the details page.
</div>
<div>
    <img style="width: 70%" src="~/Content/VolunteerToEvent.jpg" />
</div>
<div style="margin-top: 25px">
    Finally, click the volunteer/unvolunteer button on the screen. *Note: The button might be different depending on your volunteering status.
</div>
<div>
    <img style="width: 70%" src="~/Content/VolunteerForEvent.jpg" />
</div>



<div class="form-group" style="margin-top: 5%; margin-bottom: 10%">
    <div class=" = col-md-2">
        <input type="button" title="Delete" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("", "Help")'" />
    </div>
</div>
