
@{
    ViewBag.Title = "EventDonate";
}

<h2 style="margin-top: 75px">Donating To An Event</h2>

<div style="margin-top: 25px">
    First, click 'Events' on the navigation bar.
</div>
<div>
    <img style="width: 70%" src="~/Content/EventOnNav.jpg" />
</div>
<div style="margin-top: 25px">
    Next hit the 'Details' button on the event that you want to donate to.
</div>
<div>
    **Add same img as in eventDetails**
</div>
<div style="margin-top: 25px">
    Then select the 'Donate to Event' button at the bottom of the details page.
</div>
<div>
    **Add image of said button**
</div>
<div style="margin-top: 25px">
    Finally, fill in the information on the donation screen. The 'Donate To' box is already filled in with the event you chose earlier.
</div>


<div class="form-group" style="margin-top: 5%; margin-bottom: 10%">
    <div class=" = col-md-2">
        <input type="button" title="Delete" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("", "Help")'" />
    </div>
</div>
