
@{
    ViewBag.Title = "NotRealVolunteer";
}

<h2 style="margin-top: 100px">YAY!!! THANK YOU FOR SIGNING UP</h2>

<p>Are you sure you want to volunteer for this event?</p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Volunteer" class="btn btn-default" />
    </div>
</div>
